@model IEnumerable<FootBallWebLaba1.Models.ScoredGoal>

@{
    ViewData["Title"] = "Гол за матчу";
}

<h1>Голи в матчі</h1>

<p>
    @Html.ActionLink("Додати новий гол","Create", new {matchId = ViewBag.MatchId})
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ScoredMinute)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Match)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ScoredMinute)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Match.MatchId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player.PlayerName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ScoredGoalId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ScoredGoalId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ScoredGoalId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
