@model IEnumerable<FootBallWebLaba1.Models.Club>

@{
    ViewData["Title"] = "Index";
}

<h1>Команди</h1>

<p>
    <a asp-action="Create" class="btn btn-success mt-1 mb-1" style="font-size:12px; padding:5px 7px; border-radius: 10px">Додати команду</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClubName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClubOrigin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClubPlayerQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClubCoachName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClubEstablishmentDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClubName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClubOrigin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClubPlayerQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClubCoachName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClubEstablishmentDate)
            </td>
            <td>
                    <a asp-action="PlayersList" class="btn btn-primary mt-1 mb-1" style="font-size:12px; padding:5px 7px; border-radius: 10px" asp-route-id="@item.ClubId">Список гравців</a>
                    <a asp-action="Edit" class="btn btn-info mt-1 mb-1" style="font-size:12px; padding:5px 7px; border-radius: 10px" asp-route-id="@item.ClubId">Редагувати</a> 
                    <a asp-action="Delete" class="btn btn-danger mt-1 mb-1" style="font-size:12px; padding:5px 7px; border-radius: 10px" asp-route-id="@item.ClubId">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
