@model IEnumerable<FootBallWebLaba1.Models.Match>

@{
    ViewData["Title"] = "Матч за чемпіонатом";
}

<h1>Матч чемпіонату @ViewBag.ChampionshipName</h1>

<p>
       @Html.ActionLink("Додати новий матч","Create", new {championshipId = ViewBag.ChampionshipId})
</p>
       
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MatchDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatchDuration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Championship)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GuestClub)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HostClub)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stadium)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MatchDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatchDuration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Championship.ChampionshipName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GuestClub.ClubName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HostClub.ClubName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stadium.StadiumLocation)
            </td>
            <td>
                    <div><a asp-action="Details" asp-route-id="@item.MatchId">Статистика матчу</a> </div>
                    <div><a asp-controller="Stadiums" asp-action="DetailsStadium" asp-route-id="@item.StaidumId">Стадіон</a></div>
                    <div><a asp-controller="Clubs" asp-action="Details" asp-route-id="@item.HostClubId">Команда хазяїв</a></div>
                    <div><a asp-controller="Clubs" asp-action="Details" asp-route-id="@item.GuestClubId">Команда гостей</a></div>
                        <a asp-action="Edit" asp-route-id="@item.MatchId">Редагувати</a> |
                        <a asp-action="Delete" asp-route-id="@item.MatchId">Видалити</a>
                    
            </td>
        </tr>
}
    </tbody>
</table>
