@model IEnumerable<FootBallWebLaba1.Models.Match>

@{
    ViewData["Title"] = "Матч за чемпіонатом";
}

<h1>Матч за чемпіонатом @ViewBag.ChampionshipName</h1>

<p>
    @Html.ActionLink("Додати новий матч","Create", new {championshipId = ViewBag.ChampionshipId})
</p>
       
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MatchDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatchDuration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Championship)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GuestClub)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HostClub)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stadium)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MatchDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatchDuration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Championship.ChampionshipCountry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GuestClub.ClubCoachName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HostClub.ClubCoachName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stadium.StadiumLocation)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MatchId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MatchId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MatchId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
