@model IEnumerable<FootBallWebLaba1.Models.Championship>

@{
    ViewData["Title"] = "Index";
}

<h1>Чемпіонати</h1>

<p>
    <a asp-action="Create">Додати новий чемпіонат</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ChampionshipCountry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChampionshipName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChampionshipClubQuantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ChampionshipCountry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChampionshipName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChampionshipClubQuantity)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.ChampionshipId">Матчі</a>   <div>    
                <a asp-action="Edit" asp-route-id="@item.ChampionshipId">Редагувати</a> |
                <a asp-action="Delete" asp-route-id="@item.ChampionshipId">Видалити</a> 
                </div>


            </td>
        </tr>
}
    </tbody>
</table>
